@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #1DC690;
    --color-blue: #278AB0;
    --color-dark-blue: #1C4670;
    --color-dark: #06070A;
    --color-ivory: #EAEAE0;
    --color-white: #FFFFFF;
    --color-error: #EF4444;
    --color-warning: #F59E0B;

    --font-sans: 'Montserrat', sans-serif;

    --radius: 0.5rem;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
